*{
  font-family: Arial, Helvetica, sans-serif;
}

ul li{
  display: inline-block;
}
a{
  text-decoration: none;
  color: black;
}

/* bottoni */
.custom-btn{
  border-radius: 20px;
  /* padding-top: 5px;
  padding-right: 8;
  padding-left: 8; */
  
}
.active{
  border-bottom: 2px solid blue;
}

/* dimensioni fontawesome */
.fa-solid.fa-trademark{
  font-size: 8px;
  transform: translateY(-5px);
}
.fa-regular.fa-registered{
  font-size: 8px;
  transform: translateY(-18px);
}
/* /dimensioni fontawesome */

