.top{
  height: 30px;
  justify-content: flex-end;
  align-items: center;
}
.sony-logo{
  height: 15px;
}

/* header */
/* header{
  z-index: 999;

}
.dm-head-list li{
  padding-left: 8px;
} */
/* fine header */


/* jumbo */
.dm-jumbo{
  background-image: url(img/jumbo-bg.png);
  background-position: center;
  height: 500px;
  background-position: top;
  background-size: cover;
  overflow-y: hidden;
}
.ret-banner{
  height: 40px;
}
.dm-jumbo-content{
  color: white;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 50px;
  padding-left: 30px;
}
.dm-jumbo-content h1{
  padding-top: 30px;
  padding-bottom: 30px;
}
/* jumbo */


/* card giochi */
.dm-card{
  margin-top: 40px;
}
.img-card{
  height: 100px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
}

.img-card:hover{
transform: translateY(-10px);  
transition: 1s;
}
/* /card giochi*/

/* title */
.dm-title{
  margin-top: 80px;
}
.dm-title h5{
  color: cornflowerblue;
}
.dm-title h1{
  padding-bottom: 25px;
}

/* /title */

/* console */
.card-gadget{
  margin-bottom: 30px;
}
.dm-container-console{
  margin-top: 150px;
  height: 550px;
  margin-bottom: 100px;
}
.d-flex.middle{
  flex-direction: column;
  justify-content: center;

}
.dm-play-img{
  width: 100%;
  /* height: 550px; */
  height: 100%;
}

/* /console da finire */


/* card gadget */

.card-gadget-img{
  height: 125px;
}
.opacity{
  opacity: 0.5;
  cursor: pointer;
}
.opacity:hover{
  opacity: 1;
  transition: 0.5s;
}

/* /card gadget */


/* secondo jumbo */
.dm-second-jumbo{
  height: 500px;
  background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
}
.col-game{
  margin-bottom: 40px;
}
.dm-cont-game-card{
  color: white;
}
.dm-second-jumbo-logo{
  height: 100px;
}
.dm-second-jumbo-content{
  color: white;
  margin-top: 55px;
}
.dm-game-card{
  height: 150px;
}


/* nuove uscite */
.dm-cont-game-card{
  padding-top: 10px;
}
/* /nuove uscite */


/* esplora */
.dm-cont-esplora{
  margin-top: 40px;
  margin-bottom: 30px;
}
.dm-esplora-img{
  height: 200px;
}
/* /esplora */

/* banner */
.dm-cont-banner{
  background-image: url(img/ps-plus-april-monthly-games-featured-image-block.png);
}
/* /banner */