.debug{
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
}
.d-flex{
  display: flex;
}

/* colori sfondo */
.bg-black{
  background-color: black;
}
.bg-color-rgb{
  background-color: rgb(49, 44, 44);
}
/* /colori sfondo */


/* altezze */
.h100{
  height: 100px;
}
.h300{
  height: 300px;
}
.h500{
  height: 500px;
}
.h700{
  height: 700px;
}
/* /altezze */

/* spazio */
.p-top{
  padding-top: 10px;
}
.m-top{
  margin-top: 10px;
}